.pink__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pink{
    color: #F85E9F;
    font-style: normal;
    line-height: 120%; /* 27.6px */
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.dark{
    color: #191825;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}